<div class="body">
    <h1 align="center"><strong><u>WELCOME ADMIN</u></strong></h1>
    
    
    <div align="center"  class="container">
        <div class="vertical-center">
            <button type="button" class="btn btn-success" (click)="managerDetails()">ManagerDetails</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="centerDetails()" >CenterList</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="courseDetails()" >CourseList</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="teacherDetails()" >TeacherList</button>&nbsp;&nbsp;
    
            <button type="button" class="btn btn-success" (click)="userDetails()" >UserList</button>&nbsp;&nbsp;
            
            <button type="button" class="btn btn-danger" (click)="gotolist()">Logout</button>
        </div>
    </div>
    </div>
    <hr>
    <div align="center"><img   src="../../../assets/images/logo-footer-new-2020.png"></div>
    