<hr>
<div class="para">
<div align="center"><h1><u><strong>INDORE</strong></u></h1></div>
<div align="center"><img  src="../../../assets/images/indore.jpg"></div>

<pre><h1>The Yoga Institute, Indore a place of holistic wellness in the Financial Capital
     of Madhya Pradesh, shall function under the guidance of The Yoga Institute Mumbai,the world’s
     oldest organised Yoga Centre. Founded by Shri Yogendraji,father of the modern 
     Yoga Renaissance, The Yoga Institute is world renowned in spreading authentic yoga practice and 
     preserving our country’s rich ancient heritage, having its branches around the globe.

</h1></pre>
<pre>
<h2>Yoga is a Physical, Mental and Spiritual practice. It is a holistic approach to a healthy way of life.
     The regular practice of asanas, and breathing exercises (pranayama), makes the body strong, supple and healthy. 
     It has a profound effect on the circulation and on the functioning
     of the inner organs, glands and nerves, keeping all systems in radiant health and leading to 
     greater energy,better concentration, and a happier, more fulfilling life.

     At The Yoga Institute, Indore we learn to manage many Lifestyle disease like Blood pressure,arthritis,
      spondylitis, asthma, bronchitis, diabetes, migraine, thyroid, menstrual disorder, 
     acidity, insomnia, joint pain, muscular pain and many more effectively through the regular practice of yoga,
      and it is never too late or too early in life to take it up. 
     Anyone can practice yoga.
</h2></pre>

<pre><h2>Programs Offered:
    1.5 & 3 Month Yoga Teacher’s Training Course.
    
    1.5 Months (Tue-Fri) & 3 Months (Sat & Sun). 
    
    Timing : 10:30 a.m. – 4:30 p.m.</h2></pre>

<h2><u>Day: Monday to Saturday</u></h2>
<pre><h3>1.Morning Timings: 6:30 am to 8:00 am (IST)
2.Evening Timings: 6:45 pm to 8:30 pm (IST)
For further details contact: +91-982042902</h3>
</pre> 

<h2><u>Programme:</u>
Special Regular Classes
</h2>
 
<h2><u>Content:</u>
Special classes are an ideal way of Yoga education for daily practice. 
The classes cover Asanas, Pranayamas, Kriyas, Diet and Yogic lifestyle recommendations. 
Further, based on participant health conditions separate guidance is given.
</h2>
 
<h2><u>Duration:</u>
Classes are of 1 hour duration.
A minimum attendance of 3 months is recommended, to experience the difference in your life. 
Participant can join on any day of the month.
</h2>
 
<h2>The Yoga Institute, Juhu Centre 1 Ground Floor Backside, Abhijat Bunglow, Plot No. 48, NS Road Number 7, Opp. Siddhivinayak Building, JVPD Scheme, Juhu.</h2>

<h2><u>YOGA CLASSES</u></h2>
<pre><h2>1.Monday/Wednesday/Friday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
              Afternoon – 11:00 am to 12:00 noon,2:30 pm to 3:30 pm (only for ladies)
              Evening – 6:30 pm
</h2>
</pre>

<h2>Program Details:
<pre><h2>  Dates::</h2></pre>
<h2>Non-Residential Course</h2>
<ul>
<li>13th January – 11th February 2020</li>
<li>1st March – 30th March 2020</li>
<li>1st April – 30th April 2020</li>
<li> Timings: 12:00 pm – 6:00 pm AND Sundays off</li>
</ul>
</h2>



<pre>
<h2>
    Address:The Yoga Institute (Indore)
    1st floor, Plot No. 3,  Akshay Deep Colony MR 9, Near Lotus A.B. Road, Indore (M.P.) – 452010.
    
    Yash Tongia- 9981114056
    Amrita Sharma Tongia- 9920171359
    
    
</h2>
</pre>

</div>
<hr>
<div align="center"><img  src="../../../assets/images/logo-footer-new-2020.png"></div>
