
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
background-image:url(../../../assets/images/mm.jpg);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>

<body>

<h2 style="text-align:center;font-size: xx-large;"><strong><u>COURSES</u></strong></h2>
<div class="row">
    <div class="column">
        <div class="card">
          <h2 align="center"><strong>Yoga for Beginners</strong></h2>
          <img src="../../../assets/images/yoga0.jpg" alt="Mike" (click)="gotologinpage()" style="width:100%">
          <div class="container"><br>
            
        </div>
        </div>
      </div>
  
    <div class="column">
    <div class="card">
      <h2 align="center"><strong>Online Meditation & Breath Workshop</strong></h2>
      <img src="../../../assets/images/Seedling on Twitter.jpg" alt="Jane" (click)="gotologinpage()" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Yoga for relaxed awareness</strong></h2>
      <img src="../../../assets/images/woman.png" alt="Mike" (click)="gotologinpage()" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Yamas and Niyamas for Daily Life</strong></h2>
      <img src="../../../assets/images/face.jpg" alt="Mike" (click)="gotologinpage()" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Yoga for Specialy Woman</strong></h2>
      <img src="../../../assets/images/yoga1.jpg" alt="Mike"  (click)="gotologinpage()" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Advance Regular Yoga Classes</strong></h2>
      <img src="../../../assets/images/Sports fashion photography - Claire Pepper - sports fashion and underwater photographer.png" alt="Mike"  (click)="gotologinpage()" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Yoga Psychology</strong></h2>
      <img src="../../../assets/images/Meditate and reflect..jpg"  (click)="gotologinpage()" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>21 Days Better Living Course</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/the top 24 yoga places in India    http___www.yogastore.ch_shop-angebot_yoga-in-india-l-buch_.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Weekend Yoga Regular Classes</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/Find Your Foundation_ 4-Week Program _ Island Flow Yoga.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Children’s Regular / Weekend Classes</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/childrens-class-tyi.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Health Camp</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/How to Get the Most Out of Savasana In Your Next Yoga Class.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Full Moon Meditation</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/Woman practicing yoga on beach.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Dyanaism for self and Nation Program</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/Yoga Videos.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Blessing Programs</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/Why Yoga Is More Than Just An Instagram Picture.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Body Matters Program</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/The Fine Art of Creating a Yoga Playlist — Shut Up & Yoga.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h2 align="center"><strong>Benefits of Surya Namaskar</strong></h2>
      <img (click)="gotologinpage()" src="../../../assets/images/Women's Sportswear and Active Wear.jpg" alt="John" style="width:100%">
      <div class="container"><br>
    </div>
    </div>
  </div>
</div>

<footer class="page-footer bg-dark">
  <div>
    <div class="container bg-primary">
      <div class="row py-4 d-flex align-items-content-center">
        <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">The Provider</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
        <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
      </div>
      
      

      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Important Links</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
          <li class="my-2"><a href="aboutus"><span class="text-white">About Us</span></a></li>
          <li class="my-2"><a href="contactus"><span class="text-white">ContactUs</span></a></li>
        </ul>
        </div>

        <div class="col-md-3 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Contacts</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Shivaji Nagar,Pune</li>
          <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>rachanapiyusha.@gmail.co</li>
          <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>7066959395,8766959395</li>
        </ul>
        </div>
        

    </div>
  </div>
</footer>

</body>

</html>


