<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  </head>
  <body>
    <section id="contact">
       <div class="container">
           <h1 class="text-center text-uppercase"><u>Contact Us</u></h1>
          <div class="para"><p align="Center" id="para" class="text-center w-75 m-auto">
               <b>Our mission:
            At Happier, our mission is to help millions of people thrive in work 
            and life by improving their emotional health with science-backed 
            skills and practices.
            </b>
           </p>
           <p align="center"><b>What we believe about living happier:
            We believe that happiness is not a feeling, but a skill we can all learn and improve through practice.
            We believe that it's not a frivolous extra but a critical, non-negotiable ingredient in living a fulfilling, meaningful, healthy life.
            We believe that our greatest wellbeing is realized when we stop trying to turn the negative into the positive and 
            embrace the full range of human emotions with compassion and strength.</b></p>
          </div>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Call Us</h4>
                    <h3><b>+9188683615582,+917066959395,+9188750603409</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Main Center loaction</h4>
                   <h3><b>Sheikh Masari Marg, Antophill, 48 ,CGS colony sector-7, Mumbai, Maharashtra 400037</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Main Center loaction</h4>
                    <h3><b>Celebrity Layout Club House, Doddathogur,Electronic City, Bengaluru,Karnataka 560082</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Email</h4>
                    <h3><b>http://EYoga1416@gmail.com</b></h3>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>
    <footer class="page-footer bg-dark">
      <div>
        <div class="container bg-primary">
          <div class="row py-4 d-flex align-items-content-center">
            <div class="col-md-12 text-center">
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
              <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
              <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Footer -->
      <div class="container text-center text-md-left mt-5">
        <div class="row">
          <div class="col-md-2 mx-auto mb-4">
            <h3 class="text-uppercase font-weight-bold text-white">The Provider</h3>
            <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
            <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
          </div>
          
          
    
          <div class="col-md-2 mx-auto mb-4">
            <h3 class="text-uppercase font-weight-bold text-white">Important Links</h3>
            <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">
    
            <ul class="list-unstyled text-white">
              <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
              <li class="my-2"><a href="aboutus"><span class="text-white">About Us</span></a></li>
              <li class="my-2"><a href="contactus"><span class="text-white">ContactUs</span></a></li>
            </ul>
            </div>
    
            <div class="col-md-3 mx-auto mb-4">
            <h3 class="text-uppercase font-weight-bold text-white">Contacts</h3>
            <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">
    
            <ul class="list-unstyled text-white">
              <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Shivaji Nagar,Pune</li>
              <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>rachanapiyusha.@gmail.co</li>
              <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>7066959395,8766959395</li>
            </ul>
            </div>
            
    
        </div>
      </div>
    </footer>
   
 
  </body>
</html>