
      <div class="tes">
        <div class="wrapper">
      <p style="color:white">Admin</p>
      <p style="color:white" *ngIf="msg" class="error">Invalid username or password</p>
      <form #loginform="ngForm">
       <div class="form-group">
            <input type="text" name="email" [(ngModel)]="admin.email" class="form-control" placeholder="Username" required="required">
        </div>
  
        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="admin.password" class="form-control" placeholder="Password" required="required">
        </div>
  
        <div class="form-group">
          <button (click)="adminLogin()" class="btn btn-primary btn-block">Log In</button>
        </div>
  
    </form>
  </div>
