



  <div class="container">
    <h2>Deatils Of Manager</h2>
    <br>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger"><b>Id  : </b> {{teacher.id }}</li>
      <li class="list-group-item list-group-item-primary"><b>Name  :</b>  {{teacher.name}}</li>
  
      <li class="list-group-item list-group-item-primary"><b>Email  : </b>  {{teacher.email}}</li>
      <li class="list-group-item list-group-item-primary"><b>ContactNumber  : </b>  {{teacher.contactNumber}}</li>
      <li class="list-group-item list-group-item-primary"><b>Experience  : </b>  {{ teacher.experience}}</li>
      <li class="list-group-item list-group-item-primary"><b>Gender  : </b>  {{teacher.gender}}</li>
      <li class="list-group-item list-group-item-primary"><b>CenterID  : </b>  {{teacher.center.id}}</li>

    </ul>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary "(click)="gotolist()">Back</button>