<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <title>Yoga clubs and courses</title>
</head>

<body>
  <div>
    <img width="100%" src="assets/images/Yoga-Quotes.jpg">
  </div>

  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">“Yoga is not about touching your
            toes. It is what you learn on the way down.” </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-base">Yoga is an act that unites the body with the soul. It is a
          means through which we can attain inner peace. The great relaxing effect that yoga has on our minds has
          innumerable health benefits. It originated in ancient India during the Indus Valley civilization and has grown
          in popularity ever since.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/yoga1.jpg"
              alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">HappinessProgram</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Quickly & Effectively Manage Your Emotions
            </h2>
            <p class="leading-relaxed text-base">Learn a series of meditations and breathing techniques which can help
              you manage your emotions more effectively.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/yoga2.png"
              alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">HappinessProgram</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Effective Tools To Effortlessly Relax Everyday
            </h2>
            <p class="leading-relaxed text-base">Learn effortless ways of relaxation with easy guided meditations,
              pranayams and asanas which you can incorporate into your day for greater health, focus, and relaxation.
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/yoga3.jpg"
              alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">HappinessProgram</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Experience The Power Of Breath</h2>
            <p class="leading-relaxed text-base">The core aspect of The Happiness Program is Sudarshan Kriya, a simple
              yet powerful rhythmic breathing technique
              that effortlessly draws you into a deep state of meditation and help you overcome various types of stress,
              and bring you back to a clear and positive state of mind.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6"
              src="../../../assets/images/Women's Sportswear and Active Wear.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">HappinessProgram</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Understanding The Nature Of The Mind
            </h2>
            <p class="leading-relaxed text-base">Gives one a chance to master your mind and get a greater perspective of
              life. Practical wisdom in the
              Happiness Program enables you to not get bothered by issues that used to create frustration, impatience,
              worry and more.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded flex justify-center" alt="hero"
          src="../../../assets/images/yoga5.jpg">
      </div>
      <div
        class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Yoga is the journey of the self,
          through the self, to the self</h1>
        <p>Yoga essentially originated in the subcontinent of India. It has been around since ancient times and was
          performed by yogis. The term yoga has been derived from a Sanskrit word which translates to basically union
          and discipline.
          In the earlier days, the followers of Hinduism, Buddhism, and Jainism practiced it. Slowly, it found its way
          in Western countries. Ever since people from all over the world perform yoga to relax their minds and keep
          their bodies fit.
          Furthermore, after this popularity of yoga, India became known for yoga worldwide. People all over the world
          have started to realize the benefits of yoga. Several workshops are held and now there are even professional
          yogis who teach this ancient practice to people so they can learn about it.
        </p>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Benefits of Yoga
        </h1>
        <p class="mb-8 leading-relaxed">Yoga has numerous benefits if we look at it closely. You will get relief when
          you practice it regularly. As it keeps away the ailments from our mind and body. In addition, when we practice
          several asanas and postures, it strengthens our body and gives us a feeling of well-being and healthiness.
          Furthermore, yoga helps in sharpening our mind and improving our intelligence. We can achieve a higher level
          of concentration through yoga and also learn how to steady our emotions. It connects us to nature like never
          before and enhances our social well-being.
          In addition, you can develop self-discipline and self-awareness from yoga if practiced regularly. You will
          gain a sense of power once you do it consistently and help you lead a healthy life free from any problems.
          Anyone can practice yoga no matter what your age is or whichever religion you follow.
          21st of June is celebrated as International Day of Yoga where people are made aware of the benefits of yoga.
          Yoga is a great gift to mankind which helps us keep better and maintain our health. You also develop a higher
          patience level when you practice yoga which also helps in keeping the negative thoughts away. You get great
          mental clarity and better understanding.
          In short, yoga has several benefits. Everyone must practice it to keep their health maintained and also
          benefit from it. It is the secret to living a healthy and long life without the use of any artificial means
          like medicines or any other shortcuts of any kind.</p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="../../../assets/images/yoga6.jpg">
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -my-8">
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-300">Jul</span>
              <span class="font-medium text-xl text-gray-800 title-font">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">Experiences with The Yoga
              </h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Shri Ram Nath Kovind - President of India
              </h1>
              <p class="leading-relaxed mb-5">“I wish The Yoga Institute and everyone connected with it, all the best in
                their efforts to spread the goodness of Yoga for the benefit of the people.”</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="../../../assets/images/Ram-Nath-Kovind.jpg"
                  class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Shri Ram Nath Kovind - President of India</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-300">Jul</span>
              <span class="font-medium text-xl text-gray-800 title-font">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">Experiences with The Yoga
              </h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3"> Shri M Venkaiah Naidu - Vice President of
                India</h1>
              <p class="leading-relaxed mb-5">It gives me immense joy to see the stupendous work done by the Institute
                in the last 100 years which has brought them great laurels and accolade. I congratulate the entire
                Yogendra Family for living up to this noble task of spreading yoga across the globe.

              </p>
              <a class="inline-flex items-center">
                <img alt="blog" src="../../../assets/images/Venkaiah-Naidu-tyi-testimonial-150x150.jpg"
                  class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900"> Shri M Venkaiah Naidu - Vice President of
                    India</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-300">Jul</span>
              <span class="font-medium text-xl text-gray-800 title-font">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">Experiences with The Yoga
              </h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3"> Shri Amitabh Bachchan</h1>
              <p class="leading-relaxed mb-5">The classic book, 'Yoga for All' written by Dr. Hansaji is a humble
                recognition of the need in modern society for guidance towards a way of living that is in greater
                harmony with our natural surroundings and more synergistic with our fellow beings.</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="../../../assets/images/Amitabh-Bachchan.jpg"
                  class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900"> Shri Amitabh Bachchan</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section>
  
<footer class="page-footer bg-dark">
  <div>
    <div class="container bg-primary">
      <div class="row py-4 d-flex align-items-content-center">
        <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">The Provider</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
        <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
      </div>
      
      

      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Important Links</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
          <li class="my-2"><a href="aboutus"><span class="text-white">About Us</span></a></li>
          <li class="my-2"><a href="contactus"><span class="text-white">ContactUs</span></a></li>
        </ul>
        </div>

        <div class="col-md-3 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Contacts</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Shivaji Nagar,Pune</li>
          <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>rachanapiyusha.@gmail.co</li>
          <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>7066959395,8766959395</li>
        </ul>
        </div>
        

    </div>
  </div>
</footer>
</section>
</body>