<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container">
    <h1 align="center"><u><strong>TeacherDetails</strong></u></h1>
           
    <table class="table table-striped">
      <thead>
        <tr style="font-size: large;">
         
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>ContactNumber</th>
          <th>Experience</th> 
          <th>Gender</th>
          <th>Disability</th>
          
          <th>Actions</th>     
          
        </tr>
      </thead>
      <tbody *ngFor="let teacher of teachers">
        <tr>

          <td>{{teacher.id }}</td>
          <td>{{teacher.name }}</td>
          <td>{{teacher.email }}</td>
          <td>{{teacher.contactNumber}}</td>
          <td>{{teacher.experience}}</td>
          <td>{{teacher.gender}}</td>
          <td>{{teacher.disability}}</td>
          
          <td>
            
            <button type="button" (click)="viewTeacher(teacher.id)"  class="btn btn-success"><i class="far fa-eye"></i></button>&nbsp;&nbsp;&nbsp;
            <button type="button" (click)="EditTeacher(teacher.id)"  class="btn btn-primary"><i class="fas fa-edit"></i></button>&nbsp;&nbsp;&nbsp;
            <button (click)="delete(teacher.id)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
       
        </tr>
        

      </tbody>
    </table>
    <button  type="button" class="btn btn-success" (click)="addnewteacher()">Add New Teacher</button>&nbsp;&nbsp;

    <button  type="button" class="btn btn-primary" (click)="back()">Back</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>&nbsp;&nbsp;&nbsp;


  </div>

