<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="para">
<div class="flex flex-wrap -m-2" >
    <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <h1 style="text-align:center;font-size: 250%;"><strong>CENTERS</strong></h1>

      <div align="center" class="h-full flex items-center border-gray-500 border p-4 rounded-lg">
        <img align="center" height="40%" width="40%" src="../../../assets/images/Mumbai.jpg">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium" ><a href="center1">Mumbai</a></h2>
          <p class="text-gray-500">1.Andheri West</p>
          <p class="text-gray-500">2.Juhu</p>
          <p class="text-gray-500">3.Kalyan</p>
        </div>
      </div>
    </div>
    <div align="center" class="p-2 lg:w-1/3 md:w-1/2 w-full" >
      <div align="center" class="h-full flex items-center border-gray-500 border p-4 rounded-lg">
        <img height="40%" width="40%" src="../../../assets/images/Nashik.jpg">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium"><a href="center2">Delhi</a></h2>
          <p class="text-gray-500"></p>
        </div>
      </div>
    </div>
    <div align="center" class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <img height="40%" width="40%" src="../../../assets/images/The Fitness Class That Made 3 Editors Cry (and Why They'd Go Back).jpg">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium"><a href="center3">Indore</a></h2>
          <p class="text-gray-500"></p>
        </div>
      </div>
    </div>
    <div  align="center" class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <img height="40%" width="40%" src="../../../assets/images/ganga.jpeg">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium"><a href="center4">Nashik</a></h2>
          <p class="text-gray-500"></p>
      </div>
      </div>
    </div>
    <div align="center" class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <img height="40%" width="40%" src="../../../assets/images/Pune.jpg">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium"><a href="center5">Pune</a></h2>
          <p class="text-gray-500"></p>
        </div>
      </div>
    </div>
    <div align="center" class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <img height="40%" width="40%" src="../../../assets/images/goa.png">
        <div class="flex-grow">
          <h2 class="text-gray-900 title-font font-medium"><a href="center6">Goa</a></h2>
          <p class="text-gray-500"></p>
        </div>
      </div>
    </div>
  

</div> 

<hr>
<div align="center"><img   src="../../../assets/images/logo-footer-new-2020.png"></div>
</div> 
<footer class="page-footer bg-dark">
  <div>
    <div class="container bg-primary">
      <div class="row py-4 d-flex align-items-content-center">
        <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">The Provider</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
        <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
      </div>
      
      

      <div class="col-md-2 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Important Links</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
          <li class="my-2"><a href="aboutus"><span class="text-white">About Us</span></a></li>
          <li class="my-2"><a href="contactus"><span class="text-white">ContactUs</span></a></li>
        </ul>
        </div>

        <div class="col-md-3 mx-auto mb-4">
        <h3 class="text-uppercase font-weight-bold text-white">Contacts</h3>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">

        <ul class="list-unstyled text-white">
          <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Shivaji Nagar,Pune</li>
          <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>rachanapiyusha.@gmail.co</li>
          <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>7066959395,8766959395</li>
        </ul>
        </div>
        

    </div>
  </div>
</footer>