

  

  <div class="container" >
    <h2>Deatils Of Course</h2>
    <br>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger"><b>Id  : </b> {{center.id }}</li>
      <li class="list-group-item list-group-item-primary"><b>Name  :</b>  {{center.name}}</li>
      <li class="list-group-item list-group-item-primary"><b>ContactNumber  : </b>  {{center.contactNumber}}</li>
  
      <li class="list-group-item list-group-item-primary"><b>Address  : </b>  {{center.address}}</li>
      <li class="list-group-item list-group-item-primary"><b>ManagerId  : </b>  {{center.manager.id}}</li>

    </ul>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary "(click)="gotolist()">Back</button>
