<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Yoga-Tearchers</title>
</head>
<body>
       <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-63 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/teacher4.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Bhavana Patil</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 9922818735</li>
                <li>Email Id:-b@gmail.com</li>
              </ul>              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-63 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/teacher10.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Supriya Kale</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 7066959395</li>
                <li>Email Id:-s@gmail.com</li>
              </ul>              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/teacher3.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Manohar Jayavant Kulkarni</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 9545049747</li>
                <li>Email Id:-r@gmail.com</li>
              </ul>
              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/Trainer4.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Gopal Shyamrao Shinde</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 7249575797</li>
                <li>Email Id:-g@gmail.com</li>
              </ul>
              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/Trainer9.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Krishna Pratik Kadam</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 8766575782</li>
                <li>Email Id:-k@gmail.com</li>
              </ul>              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="../../../assets/images/Trainer6.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Madhav Govind Pawar</h2>
              <ul><strong><u>Details:</u></strong>
                <li>Contact no.:- 9923756110</li>
                <li>Email Id:-m@gmail.com</li>
              </ul>              <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button> -->
            </div>
          </div>
        </div>
      </section>
      <footer class="page-footer bg-dark">
        <div>
          <div class="container bg-primary">
            <div class="row py-4 d-flex align-items-content-center">
              <div class="col-md-12 text-center">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
              </div>
            </div>
          </div>
        </div>
      
      <!-- Footer -->
        <div class="container text-center text-md-left mt-5">
          <div class="row">
            <div class="col-md-2 mx-auto mb-4">
              <h3 class="text-uppercase font-weight-bold text-white">The Provider</h3>
              <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
              <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
            </div>
            
            
      
            <div class="col-md-2 mx-auto mb-4">
              <h3 class="text-uppercase font-weight-bold text-white">Important Links</h3>
              <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">
      
              <ul class="list-unstyled text-white">
                <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
                <li class="my-2"><a href="aboutus"><span class="text-white">About Us</span></a></li>
                <li class="my-2"><a href="contactus"><span class="text-white">ContactUs</span></a></li>
              </ul>
              </div>
      
              <div class="col-md-3 mx-auto mb-4">
              <h3 class="text-uppercase font-weight-bold text-white">Contacts</h3>
              <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">
      
              <ul class="list-unstyled text-white">
                <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Shivaji Nagar,Pune</li>
                <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>rachanapiyusha.@gmail.co</li>
                <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>7066959395,8766959395</li>
              </ul>
              </div>
              
      
          </div>
        </div>
      </footer>
      
</body>
</html>