

<div class="container">
  <h2>Deatils Of Manager</h2>
  <br>
  <br>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger"><b>Id  : </b> {{manager.id }}</li>
    <li class="list-group-item list-group-item-primary"><b>First Name  :</b>  {{manager.firstName}}</li>
    <li class="list-group-item list-group-item-primary"><b>Last Name  : </b>  {{manager.lastName}}</li>

    <li class="list-group-item list-group-item-primary"><b>Email  : </b>  {{manager.email}}</li>
    <li class="list-group-item list-group-item-primary"><b>Address  : </b>  {{manager.address}}</li>
    <li class="list-group-item list-group-item-primary"><b>Mobile Number  : </b>  {{manager.contactNumber}}</li>
    <li class="list-group-item list-group-item-primary"><b>Experience  : </b>  {{ manager.experience}}</li>

  </ul>
  </div>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" class="btn btn-primary "(click)="gotolist()">Back</button>