<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<mat-toolbar  class="mat-elevation-z6" >
  
    <span><mat-icon>spa</mat-icon>YOGA</span>
  
    <div class="spacer">
    
    <button style="margin-left:30%;" mat-icon-button color="primary" class="example-icon favorite-icon" routerLink="home" aria-label="Example icon-button with heart icon">
        <mat-icon>house</mat-icon>
      </button>  
    
    <a mat-button color="primary" routerLink="centers">Centers</a>
    
    <a mat-button color="primary" routerLink="courses">Courses</a> 
    
    <a mat-button color="primary" routerLink="aboutus">AboutUs</a>
    <a mat-button color="primary" routerLink="contactus">ContactUs</a>
    <a mat-button color="primary" routerLink="teachers">Teachers</a>


    <a mat-button color="primary"  routerLink="registercourse">CourseCatlog</a>
    <a mat-button color="primary"  routerLink="adminlogin"><i class="fas fa-user"></i> Admin</a>

    <button mat-flat-button class="login-button" color="primary" routerLink="userlogin"><i class="fas fa-sign-in-alt mr-2"></i>Login/Register</button>

    
    

</div>
</mat-toolbar>
<router-outlet></router-outlet>


