<hr>
<div class="para">
    
<div align="center"><h1><u><strong>1.ANDHERI WEST, S.V. ROAD</strong></u></h1></div>
<div align="center"><img  src="../../../assets/images/andheri-west-branch.jpg"></div>

<h1>We are commencing 200 hour Teachers training course from 1st July to 31st August 2020.</h1>

<h2><u>Day: Monday to Saturday</u></h2>
<pre><h3>1.Morning Timings: 6:30 am to 8:00 am (IST)
2.Evening Timings: 6:45 pm to 8:30 pm (IST)
For further details contact: +91-982042902</h3>
</pre> 

<h2><u>Programme:</u>
Special Regular Classes
</h2>
 
<h2><u>Content:</u>
Special classes are an ideal way of Yoga education for daily practice. 
The classes cover Asanas, Pranayamas, Kriyas, Diet and Yogic lifestyle recommendations. 
Further, based on participant health conditions separate guidance is given.
</h2>
 
<h2><u>Duration:</u>
Classes are of 1 hour duration.
A minimum attendance of 3 months is recommended, to experience the difference in your life. 
Participant can join on any day of the month.
</h2>
 

<h2><u>YOGA CLASSES</u></h2>
<pre><h2>1.Monday/Wednesday/Friday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
              Afternoon – 11:00 am to 12:00 noon,2:30 pm to 3:30 pm (only for ladies)
              Evening – 6:30 pm
</h2>
</pre>
<pre>
<h2>2.Tuesday/Thursday/Saturday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
Address:-
The Yoga Institute, Andheri (West)
First Floor, Khajina Mahal, S.V. Road, Andheri (West), Mumbai- 400058.
Contact us:- 9820429029, 9820929029, 9920329029
</h2>
</pre>

<hr>    
<div align="center"><h1><u><strong>2.JUHU – VILE PARLE</strong></u></h1></div>
<div align="center"><img  src="../../../assets/images/juhu-announcement-final.jpg"></div>

<h1>We are commencing 200 hour Teachers training course from 1st July to 31st August 2020.

</h1>

<h2><u>Day: Monday to Saturday</u></h2>
<pre><h3>1.Morning Timings: 6:30 am to 8:00 am (IST)
2.Evening Timings: 6:45 pm to 8:30 pm (IST)
For further details contact: +91-982042902</h3>
</pre> 

<h2><u>Programme:</u>
Special Regular Classes
</h2>
 
<h2><u>Content:</u>
Special classes are an ideal way of Yoga education for daily practice. 
The classes cover Asanas, Pranayamas, Kriyas, Diet and Yogic lifestyle recommendations. 
Further, based on participant health conditions separate guidance is given.
</h2>
 
<h2><u>Duration:</u>
Classes are of 1 hour duration.
A minimum attendance of 3 months is recommended, to experience the difference in your life. 
Participant can join on any day of the month.
</h2>
 
<h2>The Yoga Institute, Juhu Centre 1 Ground Floor Backside, Abhijat Bunglow, Plot No. 48, NS Road Number 7, Opp. Siddhivinayak Building, JVPD Scheme, Juhu.</h2>

<h2><u>YOGA CLASSES</u></h2>
<pre><h2>1.Monday/Wednesday/Friday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
              Afternoon – 11:00 am to 12:00 noon,2:30 pm to 3:30 pm (only for ladies)
              Evening – 6:30 pm
</h2>
</pre>

<h2>Weekday Classes:
<pre><h2>Monday / Wednesday/ Friday (Morning):</h2></pre>

<ul>
<li>Timings: 6:30 am, 7:30 am, 9:00 am, 10:00 am, 11:15 am, 12:30 pm, 4:00 pm, 7:00 pm, 8:00 pm</li>
<li>Tuesday / Thursday/ Saturday (Morning)</li>
<li>Timings: 6:30 am, 11:30am, 4:30 pm</li>
<li>Tuesday and Thursday (Evening)</li>
<li>Timings: 10:00 am to 11:30 am / 6:30 pm to 8:00 pm</li>
</ul>
</h2>


<pre>
<h2>2.Tuesday/Thursday/Saturday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
    Address:-

    The Yoga Institute, Juhu
    
    Ground Floor Backside, Abhijat Bunglow, Plot No. 48, NS Road Number 7, Opp. Siddhivinayak Building, JVPD Scheme, Juhu.
    
    Contact us:- 09833864964
    
    
</h2>
</pre>
<hr>
    
<div align="center"><h1><u><strong>3.KALYAN</strong></u></h1></div>
<div align="center"><img  src="../../../assets/images/kalyan-branch.jpg"></div>

<h1>We are commencing 200 hour Teachers training course from 1st July to 31st August 2020.

</h1>

<h2><u>Day: Monday to Saturday</u></h2>
<pre><h3>1.Morning Timings: 6:30 am to 8:00 am (IST)
2.Evening Timings: 6:45 pm to 8:30 pm (IST)
For further details contact: +91-982042902</h3>
</pre> 

<h2><u>Programme:</u>
Special Regular Classes
</h2>
 
<h2><u>Content:</u>
Special classes are an ideal way of Yoga education for daily practice. 
The classes cover Asanas, Pranayamas, Kriyas, Diet and Yogic lifestyle recommendations. 
Further, based on participant health conditions separate guidance is given.
</h2>
 
<h2><u>Duration:</u>
Classes are of 1 hour duration.
A minimum attendance of 3 months is recommended, to experience the difference in your life. 
Participant can join on any day of the month.
</h2>
 
<h2>The Yoga Institute, Juhu Centre 1 Ground Floor Backside, Abhijat Bunglow, Plot No. 48, NS Road Number 7, Opp. Siddhivinayak Building, JVPD Scheme, Juhu.</h2>

<h2><u>YOGA CLASSES</u></h2>
<pre><h2>1.Monday/Wednesday/Friday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
              Afternoon – 11:00 am to 12:00 noon,2:30 pm to 3:30 pm (only for ladies)
              Evening – 6:30 pm
</h2>
</pre>

<h2>Weekday Classes:
<pre><h2>Monday / Wednesday/ Friday (Morning):</h2></pre>

<ul>
<li>Timings: 6:30 am, 7:30 am, 9:00 am, 10:00 am, 11:15 am, 12:30 pm, 4:00 pm, 7:00 pm, 8:00 pm</li>
<li>Tuesday / Thursday/ Saturday (Morning)</li>
<li>Timings: 6:30 am, 11:30am, 4:30 pm</li>
<li>Tuesday and Thursday (Evening)</li>
<li>Timings: 10:00 am to 11:30 am / 6:30 pm to 8:00 pm</li>
</ul>
</h2>


<pre>
<h2>2.Tuesday/Thursday/Saturday</h2>
<h2>Timings – Morning – 6:30 am to 7:30 am, 7:30 am to 8:30 am
    Address: Shri Yogendra Marg, Prabhat Colony, Santacruz East, 
    Mumbai – 400055 India   Phone: +91-22-26122185, +91-22-26110506
    Email: info@theyogainstitute.org
</h2>
</pre>

</div>
<hr>
<div align="center"><img  src="../../../assets/images/logo-footer-new-2020.png"></div>
